.site-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    .horizontal-nav {
        flex: 0;
    }
    
    .main-container {
        display: flex;
        flex-direction: row;
        flex: 1;
        
        .vertical-nav {
            flex: 0;
            
            .expanded {
                flex: 1;
            }     
        }
        
        .body {
            flex: 4;
            padding: 15px;
            
            display: flex;
            flex-direction: row;
            
            .contents-container {
                flex: 5;
                padding-right: 15px;
            }
            
            .twitter-feed {
                flex: 1;                
            }
        }
    }
}
