.site-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
    .horizontal-nav {
        flex: 0;
    }
    
    .main-container {
        display: flex;
        flex-direction: row;
        flex: 1;
        top: 58px;
        
        .vertical-nav {
            flex: 0;
            
            .expanded {
                flex: 1;
            }     
        }
        
        .body {
            flex: 4;
            padding: 15px;
        }
    }
}
