<div class="site-container">
    <div class="horizontal-nav">
        <horizontal-nav></horizontal-nav>
    </div>
    <div class="main-container">        
        <div class="vertical-nav">
            <vertical-nav></vertical-nav>
        </div>
        <div class="body">
            <div class="contents-container">
                <router-outlet></router-outlet>    
            </div>
            <div class="twitter-feed">
                <twitter-feed></twitter-feed>
            </div>                            
        </div>
    </div>
</div>
